<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation" allow-return-values="true">
    <test name="UI Test">
        <classes>
            <class name="tests.SignUpTest">
                <methods>
                    <include name="testValidSignUp">
                    </include>
                </methods>
            </class>
            <class name="tests.LoginTests">
                <methods>
                    <include name="validLoginTest">
                    </include>
                </methods>
            </class>
            <class name="tests.PurchaseTest">
                <methods>
                    <include name="purchaseRandomPhone">
                    </include>
                </methods>
            </class>
        </classes>
    </test>
</suite>